body{
 background-color:darkslategray;
 background-size: cover;

}
.container{
    background-image: url("https://media2.giphy.com/media/LUl2tRY5oVlBu/200w.webp?cid=790b76115cf3e2d96544536832b1103c&rid=200w.webp");
    background-size: cover;
    margin: 0%;
    text-align: center;
    font-size: 3em;
    color: lawngreen;
}
h2{
    color: lawngreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 6px;
    font-size:  2em;

}
form{
    margin:40px;
    font-style: oblique;
}
input{
    padding:20px;
    border-radius: 20px;
    border: 2px solid black;
}
button{
    background-color: aqua;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border:2px solid black;
}